* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(118, 221, 157);
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    color: purple;   
    
    
}

/* #image{
    border-radius: 50px;
    width: 400px;
    border:solid;
    
    
} */

#description{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 535px;
    background-color: rgb(146, 244, 195);
    /* padding: 0em 30px 6em; */
    /* margin: auto; */
    

    
}
header {
    text-align: center;
    font-size: 3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#indice1 {
    text-align: left;
}
.temas{
    width: 33%;
    height: 33%;
    padding: 1%;
    border: solid;
    text-align: left;       
    background-color:aliceblue;
    border-radius: 5%;
    margin-left: 5%;
}

#indice{
    width: 20%;
    height: 33%;
    padding: 1%;
    margin-left:5%;
    border: solid;
    text-align: left;      
    background-color:aliceblue;
    border-radius: 5%;
}

#image{
    border-radius: 20%;
    width: 400px;
    text-align: center;    
    margin:1% 5% 0% 10%;
    

}