* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(118, 221, 157);
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    color: #fff;   
    
    
}

/* #image{
    border-radius: 50px;
    width: 400px;
    border:solid;
    
    
} */

#description{
    display:flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 535px;
    background-color: rgb(146, 244, 195);
    /* padding: 0em 30px 6em; */
    /* margin: auto; */
    

    
}
header {
    text-align: center;
    font-size: 3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.sobreM{
    
    padding: 1%;
    border: solid;
    text-align: left;       
    background-color:#11a36a;
    border-radius: 20px;
    margin-left: 5%;
}

#habili{

    padding: 15px 30px;
    border: solid;
    text-align: left;      
    background-color:#11a36a;
    border-radius: 20px;
    margin-left: 30px;
}

#image{
    border-radius: 20px;
    width: 400px;      
    margin:10px 20px 10px 10px;
    

}
.indice li{       
    display: inline-flex;
    justify-content:right;
    padding: 15px 30px;
    font-size: 1em;
    background-color: #11a36a;
    color: #fff;
    border-radius: 4px;
  
    
}